## 객체와 클래스
### * is-a, has-a

In [2]:
class Person:
    pass

class Customer(Person): # is-a
    pass

In [3]:
class Store:
    def __init__(customer):
        self.customer = customer # has-a # Customer Type #Customer를 가지고 있다. 
        self.item = item
        self.item_list = self.item.name, self.item.price

class Item:
    name = 'name'
    cnt = 'cnt'
    price = 'price'

## 매직 메소드
### * special method
`__str__`
`__repr__`

In [6]:
class Customer: # object
    def __init__(self, name):
        self.name = name
        
c = Customer('Hwang')

In [8]:
c #보기 어려운 형태로 출력됨

### * `__str__`, `__repr__`

In [9]:
class Customer: # object #모든 클래스는 object를 암묵적으로 상속받음
    def __init__(self, name):
        self.name = name
        
    def __str__(self):
        # print()로 출력값을 변경함
        return self.name

    def __repr__(self):
        # 별도 설정을 하지 않을 시, __str__과 동일
        # 인스턴스를 출력하는 방식임 ==>> 사용자가 이해하는 객체의 모습
        return f'Customer({self.name})'
    
c = Customer('kim')

In [10]:
print(c)

kim

In [11]:
c

Customer(kim)

## NamedTuple, DataClass
* 객체보다 효율적임 (간단한 속성만 가진 클래스일 경우 활용)
* 딕셔너리의 키처럼 사용 가능하다
* 불변 객체임
* dataclass는 py 3.7 버전 이상 부터 사용함

### * NamedTuple

In [15]:
from collections import namedtuple

# 형식 : namedtuple('클래스명', '들어갈 변수명')
# 변수는 공백으로 구분 # ex - ('name age')
Customer = namedtuple('Customer', 'name age') 

a = Customer('Hwang', 20)
f'이름은 {a.name}, 나이는 {a.age}'

'이름은 Hwang, 나이는 20'

### * DataClass

In [17]:
from dataclasses import dataclass
#python 3.7 이상에서만 가능

@dataclass
class Customer2:
    name: str
    age: int
    
b = Customer2('kim', 29)
f'이름은 {b.name}, 나이는 {b.age}'

'이름은 kim, 나이는 29'

## 함수 II

- 일급객체
- 내부함수, 클로저
- 익명함수
- 제너레이터
- 재귀함수

### asterisk : `*`
- 여러 개가 들어왔을 때 하나로 묶어주는 역할(패킹)
- 무한대로 받기 가능

In [18]:
def print_arg(*args): # 인자를 여러개 packing
    print(args)       
    
print_arg(1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [21]:
# asterisk in 함수
def print_arg(*args):  # 인자를 여러개 packing
    print(*args)       # 자료는 unpacking
    
print_arg(1, 2, 3, 4, 5, 6)

1 2 3 4 5 6

In [27]:
# LIST UNPACKING

numberList = list(range(10))
print(*numberList)

0 1 2 3 4 5 6 7 8 9

In [23]:
def print_more(num1, num2, *args): # 앞의 두 인수는 필수로
    print(num1, num2)
    print('optional:', *args)
    
print_more(1, 2) 
print_more(3, 4, 5, 6, 7)

1 2
optional:
3 4
optional: 5 6 7

In [24]:
# 행렬, 테이블 데이터

matrix = [
    [1, 2],
    [3, 4],
    [5, 6]
]

# 1, 3, 5 / 2, 4, 6 (열만 타기)
for item in zip(*matrix):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [26]:
# zip 함수 # 위와 같은 코드

for item in zip([1, 2], [3, 4], [5, 6]):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [25]:
# asterisk 결과 살펴보기

print(*matrix)

[1, 2] [3, 4] [5, 6]

In [31]:
# 키워드 전용 인수 선언 시 사용

# start와 end는 꼭 받고 싶은 경우 앞에 *
def print_data(data, *, start, end): 
    for item in data[start:end]:
        print(item)
        
print_data(numberList, start=0, end=4)
# print_data(numberList, 0, 1) X

0
1
2
3

## kargs : `**`
### * 키워드 전용 인수

In [32]:
def print_kargs(**kargs): # 키:값 => 딕셔너리로 반환
    print(kargs)
    # print(**kargs)X > 언패킹 기능이 없음
    
print_kargs(wine = 'crianza', drink = 'water')

{'wine': 'crianza', 'drink': 'water'}

In [33]:
# 키가 정해진 경우 사용하면 좋은 방식

for wine in ['cabernet', 'crianza', 'shiraz']:
    print_kargs(wine = wine, drink = 'water')

{'wine': 'cabernet', 'drink': 'water'}
{'wine': 'crianza', 'drink': 'water'}
{'wine': 'shiraz', 'drink': 'water'}

In [35]:
# 키가 정해지지 않은 경우 오류 발생함. => get()을 이용할 것
class ExampleClass:
    def __init__(self, **kwargs):
        self.val = kwargs['val']
        self.val2 = kwargs.get('val2',"default value")
        
E = ExampleClass(val='crianza')

In [36]:
E.val, E.val2

('crianza', 'default value')

### * 복합적인 사용

In [37]:
def print_all(num1, num2, *args, **kargs): # *, ** 같이 사용
    print(num1, num2)
    print(sum(args))
    print(kargs)
    
# print_all(1, 2, 3, 4, 5, 6, num1 = 7, num2 = 8) : 오류발생함

print_all(1, 2, 3, 4, 5, 6, num = 7)

1 2
18
{'num': 7}

In [39]:
# 딕셔너리 조인

a = {1:'a', 2:'b'}
b = {2:'c', 3:'d'}
c = {**a, **b} #key 2의 value가 마지막으로 'c'로 초기화 됨
c

{1: 'a', 2: 'c', 3: 'd'}