## Ch02. Variable

### 0. 지난 주 배운 것 = 변수

* string
* float
* integer
* boolean

In [7]:
# 여러 이름을 동시에 할당할 수 있음

two = deux = dos = 2 # dos -> deux -> two 순서로 할당이 됨.
two

#세가지에 모두 2가 할당됨.

2

In [8]:
# two에 새로운 값을 할당하면 다른 것도 바뀌나?
two = 4
print(two, deux)

# deux는 그대로 2의 값임. 안바뀜.
# integer는 불변객체이므로

4 2

#### * id : 변수가 저장된 메모리의 주소를 찾는 함수
* 불변객체의 자료형이 변할 때 메모리 주소가 바뀌는구나!만 알면 됨.

In [10]:
# 그럼 id는 바뀌었나?
id(two), id(deux)

#two의 id는 바뀌었음

(2960443337104, 2960443337040)

In [11]:
p = [1, 2, 3] #참고로 리스트는 가변객체. 안에 값들 바뀜
q = p
q, p #p와 q는 동일한 값이 출력됨

([1, 2, 3], [1, 2, 3])

In [12]:
#그렇다면 id도 같을까?
id(p), id(q)

#당연히 같음

(2960519922880, 2960519922880)

In [13]:
#p의 0번째 item을 변경하면
p[0] = 9
p,q 

#q는 건들지 않았지만 q도 동시에 변경됨

([9, 2, 3], [9, 2, 3])

In [15]:
id(p), id(q)

#id도 p,q가 똑같이 변경됨

(2960519922880, 2960519922880)

### 1. 좋은 변수명이란?
* 간결하고 명확한 이름
* 의미가 담겨야 함.
    * a,b,c와 같은 것은 이제 그만.
* 코드에는 ***의미가 담기고***  주석에는 ***의도를 담는다.***
    * ex) the number of students를 변수명으로 나타내고 싶으면,
    * => n(최악) < the_number_of_students(너무 길어) < num_students(좋음)
    
    * 카멜표기법 : numStudnets (like 낙타)

### 2. 자료형 변환, 형 변환
* str('변환할 값'), int(), float(), bool()

In [16]:
a = 10
type(a)

#a는 integer 형태

int

### 2-1. 형 변환하기

In [21]:
#str
str(a) #문자형

'10'

In [19]:
#float
float(a) #부동소수점

10.0

In [20]:
#bool
bool(a) #True/False만 있음. #bool 타입 중 어떤 것이 False로 변환되는지만 기억하면 됨.

True

#### 2-1. (1) 주의할 점 1 : float -> int

In [23]:
x = 10.7
int(x)

#int로 변환했더니 소수점이 날아감. (소수점 내림)

10

In [26]:
y = 19.8

print(int(x + y))
print(int(x) + int(y))

# x+y와 (x)+(y)의 값이 달라져서 문제가 발생함. # +, -, = 연산자 사이에 띄어쓰기 필수

30
29

#### 2-1. (2) 주의할 점 2 : str -> int/float

In [27]:
i = '10'
int(i), float(i)

(10, 10.0)

In [28]:
j = '10.7'
int(j)

#float을 str로 해놓은 것을 int로 바꾸면 에러가 생김 (int와 맞지 않은 것을 int로 바꾸면 에러 발생)

ValueError: invalid literal for int() with base 10: '10.7'

#### 2-1. (3) 꿀Tip : `print()`

In [29]:
dog = 'dog'
cat = 'cat'
lion = 'lion'

print(dog + cat + lion) #space X, \n
print(dog, cat, lion) #space O, \n

dogcatlion
dog cat lion

##### print(, sep=' ', end='\n')
* sep: 원소 간에 뭘로 띄어쓸래?
* end : 그 다음줄은 뭘로 할래?

* sep의 기본값 : 띄어쓰기
* end의 기본값 : 개행

In [33]:
print(dog, cat, lion, sep=' ', end='\n') #default
print(dog, cat, lion, sep='/', end='\n\n')

print('EOL')

dog cat lion
dog/cat/lion

EOL

#### 문자열과 변수를 합치고 싶은 경우

In [35]:
#1. 바람직하지 않은 경우
print("My favorite animal is", dog, '.')

#2. 올바른 경우 (f-string 사용)
print(f"My favorite animal is {dog}.")

# 2가지 방식 더 있는데 그건 다음에 하기로..

My favorite animal is dog .
My favorite animal is dog.

#### 코드 줄이 짧을 때 ;(semicolon)을 이용해 한 줄로 쓸 수 있다.

In [37]:
dog = 'dog'; cat = 'cat' ; lion = 'lion'
print(dog)

dog

### 3. `input()`함수

* console에서 사용자가 입력하는 값을 받을 수 있는 함수
* 입력 받는 값은 문자열로 인식이 된다.

In [38]:
input("Hello?")

Hello?Hi

'Hi'

* 입력 받은 값이 숫자인 경우 형 변환 해야함.

In [39]:
int(input('나이가 어떻게 되나요?'))

나이가 어떻게 되나요?26

26

* 입력 받은 값을 변수에 담아서 사용한다. 안 그러면 사라짐


### 3-1. 변수에 할당하는 방법

In [49]:
#1. 
age = input('나이가 어떻게 되나요?')

나이가 어떻게 되나요?15

In [50]:
age

'15'

In [51]:
#2.
print("나이가?")
age = input()

나이가?
88

In [52]:
age

'88'

### `Quiz 1` 온도 변환기
* 섭씨를 입력 받아서 화씨로 변환하기
* "섭씨 * 1.8 + 32 = 화씨"

In [55]:
celsius = float(input('섭씨 온도는?'))
fahrenheit = celsius * 1.8 + 32
print(f'화씨 온도는 {fahrenheit} 입니다.')

섭씨 온도는?15.9
화씨 온도는 60.620000000000005 입니다.

### `Quiz 1 : 교수님 feedback`

* 변수명으로는 약어 X, 대문자 X
* 기호 사이에 띄어쓰기 하기(+,-,*,=)
* print할 때 꼭 f-string 사용하기

### `Quiz 2` 택배비 계산기 
* 택배 정보 입력 받고, 총 합계 계산하기
* 출력값 :
    - "==택배 정보=="
    - 수취인 성명 : <이름>
    - 수취인 주소 : <주소>
    - 배송비 : 3000원
    - 물건 비용 : <가격>원
    - 총 합계 : <가격>원
* 물건 비용 = 무게(g) * 5
* 합계 = 배송비 + 물건비용

* 입력값 = 이름, 주소, 무게

In [60]:
name = input('name:')
address = input('address:')
shipping_fee = 3000
weight = float(input('weight:'))
extra_fee = weight * 5
total = shipping_fee + extra_fee

print('==택배 정보==')
print('수취인 성명 :', name)
print('수취인 주소 :', address)
print('배송비 :',shipping_fee)
print('물건 비용 :', extra_fee)
print('총 합계: ',total)

name:황은해
address:서울시 노원구 공릉동
weight:50.9
==택배 정보==
수취인 성명 : 황은해
수취인 주소 : 서울시 노원구 공릉동
배송비 : 3000
물건 비용 : 254.5
총 합계:  3254.5

### `Quiz 2 : 교수님 feedback`

* 변수명 sum은 쓰지말기. 이미 있는 함수임.
* 기호 사이에 띄어쓰기 하기(+,-,*,=)
* 무게는 float로 받기
* print할 때 꼭 f-string 사용하기
* print할 때 name~total까지 Enter로 한 번에 출력 가능 (같은 것은 하나로 묶기)

## Ch03. Numbers

### 1. boolean
* 형 변환할 때 True, False인지 기억하라.
    * False인 값 : '  ', None, 0, ...
* 조건식에서 많이 쓴다. ex) 만약 이 조건이 True라면, ...

In [63]:
bool(1)

True

In [64]:
bool('')

False

### 2. integer
* 소수점 없음. 
* default 양수임.
* 음수는 앞에 -를 붙인다.
* 숫자 앞에는 0을 붙일 수 없다. ex)05
    * 예외적으로 십진수 이외의 것 -> 0bxxx
* 리터럴(숫자 그대로) : 4
* 공백이 많아도 무시가 된다.
*10,000원 0> 10과 000원 으로 따로 인식함 => _를 사용하기
    ex) 10_000

In [65]:
a = -9 #음수는 앞에 -붙임
8 + a

-1

In [66]:
a = 09 #숫자 앞에 0 불가

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_31872/2890110653.py, line 1)

In [67]:
-9 + 8                                       -5 #공백 무시

-6

In [68]:
a = 10_000
print(a)

10000

### 3. 연산
* 연산자|operator : +, -,
* 피연산자|operand : 4, 5, ...
* 수식|expression

In [70]:
x = 4
y = 9

x + y
x - y
x * y
x / y

#거듭제곱|exponential
x ** y

262144

#### 3-1. 나눗셈에서 주의할 사항

In [74]:
#1. division by zero => 주의 (y!=0)
#2. 몫, 나머지
x // y, x % y

(0, 4)

In [75]:
divmod(x, y) #몫, 나머지가 출력되는 함수

(0, 4)

### 3-2. 복합대입연산자|compound assignment operator

In [78]:
#리터럴, integer는 불변
a = 5
a - 3
print(a)

#연산을 해도 a값이 변하진 않음.

5

In [85]:
#근데, 나는 a값을 변하게 하고 싶음. 그럴 때 쓰는 것이 복합대입연산자

a = a - 3 #복합대입연산자 사용 전

`숨겨진 로직 3 step`
1. a - 3 : 계산
2. 임시변수 temp = a - 3 : 임시변수에 할당
3. a = a - 3 : a에 a -3을 할당

In [83]:
a -= 3 #복합대입연산자 사용

In [86]:
a += 3
a -= 3
a *= 3
a /= 3

In [87]:
u = u + 1 #이건 안됨 #u가 초기화 되지 않았기 때문에

NameError: name 'u' is not defined

In [91]:
u = 2 #u를 초기화해주면
u = u + 1
print(u) #가능

3

### `Quiz 3` 배수, 홀수 확인
* 정수를 입력 받고 3의 배수인지 확인하세요.
* = 홀수인지 확인하세요.

#### if문 안쓰는 version

In [96]:
a = int(input("정수를 입력하세요."))
print("3의 배수인가요?", bool(a%3 == 0))
print("홀수인가요?", bool(a%2 != 0))

정수를 입력하세요.7
3의 배수인가요? False
홀수인가요? True

#### if문 쓰는 version

In [98]:
number = int(input('정수를 입력하세요 :'))
if number % 3 == 0:
    print('3의 배수입니다.')
else:
    print('3의 배수가 아닙니다.')

if number / 2 == 0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

정수를 입력하세요 :2
3의 배수가 아닙니다.
홀수입니다.

### `Quiz 3 교수님 feedback`  
* 연산자 사이 띄어쓰기

### 4. 지수 표현
* e, E 둘 다
* 앞부분은 float, int
* 뒷부분은 int만 옴.
   * 양수면 0 앞으로 감
   * 음수면 0 뒤로 (= 소수점이라는 뜻)

In [100]:
1.0e6 #float

1000000.0

In [117]:
# 0.000789 => 지수표현으로 변경
7.89e-4
78.9e-5
789e-6

#0.0789e #이런 형식은 X. 보기 좋으라고 지수를 사용하는 건데 오히려 불편

0.000789

#### * <e를 기준>으로 양수면 앞으로, 음수면 뒤로

In [119]:
1.0e-2

0.01

## Ch04. 조건문, if

* code structure

### 1. 코드 짜는 룰
* 주석 다는 법
    * 설명하는 부분에 사용
    * 목적 : 의도를 표현함, 오류가 있거나 업데이트 할 예정 등등을 표시
    * '#' hash, sharp, ....
    * 시작된 부분부터 그 라인 끝까지가 주석임
    * 문자열 안에 들어있는 해시는 문자열로 인식
    * """<주석>""" : 주석 길게 쓰고 싶을 때

* 라인 유지하기
     * 들여쓰기, 공백 4개, 탭 1개
     * 한 줄에 최대한 80자 넘지 않게
     * 백슬래시로 끊어준다 (\)

In [121]:
a = 3 #여기부터 라인 끝
b = 2

In [125]:
example = 'hey ####' #문자열 안의 해시는 문자열로
print(example)
"""
주석1. aa
주석2. bb
주석3. cc
"""

hey ####

'\n주석1. aa\n주석2. bb\n주석3. cc\n'

### 2. if문
if ....:
    # : 입력 후 엔터치면 자동으로 들여쓰기

* 조건 1개
if <조건식>:
    <실행할 코드>

In [127]:
if 4 == 9:
    print('Yaay!') #4와 9가 달라 print 안됨.

In [128]:
if 4 != 9:
    print('Yaay!') #4와 9가 달라 print 됨.

Yaay!

* 조건 2개:
    if <조건식1>:
        <실행할 코드>
    else <조건식2>:
        <실행할 코드2>

In [129]:
if 4 == 9 :
    print('Yaay!')
else:
    print('Hey!')

Hey!

* 조건 3개:
    if <조건식1>:
        <실행할 코드>
    elif <조건식2>:
        <실행할 코드2>
        
.
.
.

    else <조건식3>:
        <실행할 코드3>
        
* 주의할 점 : if, elif, else는 같은 라인 / 들여쓰기 주의

### 3. 비교연산자
* x < y, x <= y
* x > y, x >= y
* x == y (값)
* x != y (값)
* x is y (값, 메모리주소가 같아야 함)
* x is not y

### `Quiz 1` 학점 계산기
* 학점 부여하기
* 학점을 입력 받아서
    * 90점 이상이면 A
    * 80점 이상이면 B
    * 70점 이상이면 C
    * 그외면 D

* 변수 설정 주의하기(a,b,c 안됨)

#### 방법 1

In [132]:
score=int(input())

if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('D')

30
D

#### 방법 2

In [138]:
score = int(input('점수를 입력하세요.'))
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'

print('당신의 점수는 {}점이며 {}학점 입니다.'.format(score, grade))

점수를 입력하세요.75
당신의 점수는 75점이며 C학점 입니다.

### `Quiz 2` 로그인
* 아이디와 비번 입력 받아서 둘 다 일치하면 로그인하기
* 아이디, 비번 각자 정해놓기
* 일치하지 않을 때에는 창의적으로 어떤 걸로 반환하기

In [141]:
id = 'hufs'
pw = '1234'

#선언하기 위해서 문자열로 인식되도록 하기

id_login = input('아이디를 입력하세요')
pw_login = input('비밀번호를 입력하세요')
if id == id_login and pw != pw_login:
    print('비밀번호가 틀렸습니다.')
elif id != id_login and pw == pw_login:
    print('존재하지 않는 아이디입니다.')
elif id == id_login and pw == pw_login:
    print('로그인 되었습니다.')

아이디를 입력하세요hufs
비밀번호를 입력하세요4321
비밀번호가 틀렸습니다.

### 4. 논리연산자
* 여러 조건식을 비교할 때
    ex) 10 < x < 20
    * 파이썬에서만 가능한 표현
    * (x > 10) 혹은 (x < 20)

* and, &: 둘 다 참일 때 True
* or , |: 둘 중 하나만 참이여도 True
* not: 참 -> False, 거짓 -> True

### `Quiz 3` 과제
* quiz 1 확장판
* 결석 횟수를 받아서 점수가 80점 이상인데 결석이 2번 이상이면 F, 나머지는 그대로
* 논리 연산자 사용하거나,
* if 구조를 크게 2번 가져갈 수 있다.

In [146]:
score = float(input('점수를 입력하세요.'))
absence = int(input('결석 횟수를 입력하세요.'))

if score >=90:
    if absence < 2:
        grade = 'A'
    else:
        grade = 'F'

if score >=80:
    if absence < 2:
        grade = 'B'
    else:
        grade = 'F'
        
if score >=70:
    if absence < 2:
        grade = 'C'
    else:
        grade = 'F'

if score >=60:
    if absence < 2:
        grade = 'D'
    else:
        grade = 'F'
        
print('당신의 점수는 {}점이고 지각횟수는 {}회이며, {}학점 입니다.'.format(score, absence, grade))

점수를 입력하세요.85
결석 횟수를 입력하세요.3
당신의 점수는 85.0점이고 지각횟수는 3회이며, F학점 입니다.