### Dictionary
- 영어 사전
    - 단어 : 뜻
    - 키 : 값
    - 순서가 없다.
    - "키로 값을 찾는다. "
        - 키는 중복되지 않는 고유한 값
    - 가변 : 수정, 삭제, 추가 가능
    - 타입 : dict
    - 형변환 : `dict()`
    - 중괄호 사용 {}, 콤마로 구분함
    - 값에 다양한 자료구조가 올 수 있음
        - a: 1, a: [1,2,3,4]

In [1]:
a = [1, 2, 3]
a[0]

1

In [2]:
#dict 선언방법 2가지
empty = dict()
empty = {}

# set {}
empty = {} # dict type #set 아님
empty = set() #set type
type(empty)

set

In [5]:
# set
a = {1, 2, 3}

# dict
a = {1:'apple', 2:'banana', 3:'kiwi'}
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [7]:
# 따옴표 계속 쓰기 너무 귀찮을 땐 ()소괄호 사용
b = dict(apple='a', banana='b', kiwi='c')
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}


### `Dict Ex1`
- 출석부 딕셔너리 만들기
- 이름, 학번, 학과 중 어떤 것을 키로 잡을지 고민하면서 만들기

* 이름, 학번, 학과
    * james 202201 경제학과
    * laura 202203 스페인어과
    * louis 202202 컴공과

In [8]:
# 이름, 학과는 중복. 학번은 중복. => 학번을 key로
# 여러개 값을 value로 가져올 땐 리스트 or 튜플로
attendance = {202201:['james','경제학과'], 202203:['laura','스페인어과'], 202202: ['louis', '컴공과']}
attendance

{202201: ['james', '경제학과'],
 202203: ['laura', '스페인어과'],
 202202: ['louis', '컴공과']}

### 형 변환

In [10]:
ex1 = [[1,2], [2, 3], [3, 4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [11]:
#키는 중복되지 않기 때문에 중복되는 값이 나오면 가장 최근 값만 남음
ex2 = [(1, 2), (2, 3), (1, 3)]
dict(ex2)

{1: 3, 2: 3}

In [12]:
# 두자리 수의 문자열은 끊어주지만 두자리 이상은 error
ex3 = ['ab', 'bc', 'cd']
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

### 항목 조회 & 변경

In [14]:
pythons = {
    # 성 : 이름이 담긴 딕셔너리
    'Chapman': 'Graham',
    'Cleese' : 'John',
    'Idle' : 'Eric',
    'Jones' : 'Terry',
    'Palin' : 'Michael'
}

In [15]:
# 조회 # key로 value 찾기
# 단, 없는 값 입력시 예외 발생
pythons['Idle']

'Eric'

In [16]:
# 예외가 발생하지 않는 조회

# step 1. 값의 존재 여부를 먼저 확인 #in membership
print('Hwa' in pythons)

# step 2. #get()
print(pythons.get('Lee')) #없는 키는 None 반환
print(pythons.get('Lee'),0) # 반환 값 설정 가능 : 해당 코드는 0으로 설정

False
None
None 0

In [17]:
#항목 추가 및 변경
pythons['Hwa'] = 'Chloe' #없는 key값으로 하면 추가
pythons['Idle'] = 'James' #있는 key값으로 하면 변경
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

### 전체 조회
- keys()
- values()
- items()

In [19]:
# key만 조회
pythons.keys()

dict_keys(['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa', 'Marx', 'Howard'])

In [20]:
#value만 조회
pythons.values()

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe', 'Groucho', 'Moe'])

In [29]:
# (키, 값) 튜플 형태로 모두 조회 
# 순회할 때 많이 사용
pythons.items()

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [21]:
# 이런 조회 methods는 타입이 dict임. 메모리를 많이 사용하게 됨
# 메모리를 절약하려면 리스트로 형 변환하는 것이 best
list(pythons.keys())

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa', 'Marx', 'Howard']

In [25]:
#item 순회하기 #for 문
for k, v in pythons.items():
    print(f'{k} = {v}')
    
print()

Chapman = Graham
Cleese = John
Idle = James
Jones = Terry
Palin = Michael
Hwa = Chloe
Marx = Groucho
Howard = Moe

In [26]:
#iterm 순회하기 #list comprehension
[(k,v) for k, v in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe'),
 ('Marx', 'Groucho'),
 ('Howard', 'Moe')]

In [28]:
# (k,v)가 아니어도 순회 가능
[k for k in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe'),
 ('Marx', 'Groucho'),
 ('Howard', 'Moe')]

In [31]:
# items()는 튜플의 형태로 들어있어서 인덱스로 접근 가능

# 0은 key값 
[k[0] for k in pythons.items()]

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa', 'Marx', 'Howard']

In [32]:
# 1은 value값 
[k[1] for k in pythons.items()]

['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe', 'Groucho', 'Moe']

In [37]:
#items()없으면 keys만 접근
[k for k in pythons]

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Marx', 'Howard']

### `Dict EX 2`
* animal : num_leg 딕셔너리

In [35]:
animal = 'cat sanke monkey ant spider'. split()
legs = 4, 0, 2, 4, 8

In [71]:
# 방법 1
print(dict([(key, value) for key, value in zip(animal, legs)]))

# 방법 2
num_leg = {}
for k, v in zip(animal, legs):
    num_leg[k] = v 
print(num_leg)

# 방법 3 : 딕셔너리 컴프리헨션 사용
print({key:value for key, value in zip(animal, legs)})


#내 답
num_leg = {}
for i in range(len(animal)):
    num_leg[animal[i]] = legs[i]
    
num_leg

{'cat': 4, 'sanke': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

### `Dict EX 3`
pythons에서 성:이름, 첫 글자만, 이름은 글자 개수로 이뤄진 튜플(성, 이름) 리스트로 반환하기

* dict comprehension 쓰지 말기

In [38]:
# 방법1
print([(key[0], len(value)) for key, value in pythons.items()])

# 방법2
print([(k[0][0], len(k[1]))for k in pythons.items()])

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('M', 7), ('H', 3)]
[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('M', 7), ('H', 3)]

In [45]:
[(k[0][0], len(k[1])) for k in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

### 값 수정, 삭제, 복제, 비교

In [46]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [49]:
# update(병합) #여러 항목 추가 
# 원래 있던 key값은 마지막에 입력된 값으로 update됨
others = {
    'Marx': 'Groucho',
    'Howard': 'Moe'
}

#update 해주기
pythons.update(others)
pythons

{'Marx': 'Groucho', 'Howard': 'Moe'}

In [33]:
# py 3에서만 사용 가능한 추가방법
new = {
    'Hwang': 'Eunhae',
    'Mardi': 'Mecrdi'
}

#new가 앞에 삽입
{**new, **pythons}

#new가 뒤에 삽입
{**pythons, **new}

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe',
 'Marx': 'Groucho',
 'Howard': 'Moe',
 'Hwang': 'Eunhae',
 'Mardi': 'Mecrdi'}

In [34]:
# 삭제 #del
del pythons['Hwa']

pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [54]:
# 없는 걸 삭제하면 예외가 발생.
del pythons['Lee']

KeyError: 'Lee'

In [55]:
#삭제 #pop
#값을 반환한 뒤 삭제

#del은 없는 것을 삭제하면 예외가 발생함. 
#get()처럼 사용하는 함수가 pop()
pythons.pop('Marx')

'Groucho'

In [58]:
# 없으면 예외는 남 #하지만 예외 시 출력 값을 지정할 수 있음
pythons.pop('Lee', 0) #현재 코드는 예외 시 출력 값 0으로 지정됨

0

In [59]:
# 전체 삭제

#방법 1
pythons.clear()

#방법 2
pythons = {}

pythons

{}

### 복제
- 할당
    * b = a || 같은 주소 참조
- 얕은 복사
    * c = a.copy() || 다른 객체 생성
- 깊은 복사

In [60]:
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45

# 할당의 문제: b도 값이 변함
# why? 복사한 가변객체이기 때문에
print(a, b)

# 따라서 다른 객체 생성 - 얕은 복사를 진행함
c = a.copy()
a[2] = 22

print(a, c)

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [39]:
# 얕은 복사의 문제점
# 가변객체에 대해서 또 참조가 됨

a = {1: [1, 2, 3], 2: [2, 3, 4]}
d = a.copy
a[1][0] = 100
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, <function dict.copy>)

In [64]:
import copy
e = copy.deepcopy(a)
a[1][1] = 999

#깊은 복사 #변하지 않음
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

### 비교
* 같다, 다르다만 된다.

In [65]:
a != b

True

### `Dict EX4`
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성 = pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기
    * del dict1['태양'] (x)
4. sorted 이용해서 값 정렬하기
    i) key
    ii) value

In [42]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter satrun uranus neptune'.split()

In [43]:
#내풀이
#딕셔너리 생성
solar = {}
for i in range(len(solar_kor)):
    solar[solar_kor[i]] = solar_eng[i]

#명왕성 추가
solar['명왕성'] = 'pluto'

#성으로 끝나지 않는 키 삭제하기
solar = {key:value for key,value in solar.items() if key[-1] == '성'}

#key - value 순으로 값 정렬
sorted_key = sorted([key for key in list(solar.keys())])

In [44]:
#다른 풀이
# 1.
solar_dict = {}
for k, v in zip(solar_kor, solar_eng):
     solar_dict[k] = v

# 2.
# 넣을 것이 하나일 때는 update를 가져갈 필요가 없음.
# solar_dict.update({'명왕성':'pluto'})
solar_dict['명왕성'] = 'pluto'

# 3.
for key in list(solar_dict):
    if not key.endswith('성'):
        del solar_dict[key]

# 4.
# key 기준
print(sorted(solar_dict.keys()))
# value 기준
print(sorted(solar_dict.values()))

['금성', '명왕성', '목성', '수성', '천왕성', '토성', '해왕성', '화성']
['jupiter', 'mars', 'mercury', 'neptune', 'pluto', 'satrun', 'uranus', 'venus']

In [45]:
# '성'으로 끝나지 않는 것을 삭제할 때
# for문 X => 리스트 컴프리헨션 사용

# 1.
solar_dict = {}
for k, v in zip(solar_kor, solar_eng):
     solar_dict[k] = v

# 2.
solar_dict['명왕성'] = 'pluto'

# 3.
solar_dict = dict([(key, value) 
                   for key, value in solar_dict.items() 
                   if key.endswith('성')])

# 4.
# key 기준
print(sorted(solar_dict.keys()))
# value 기준
print(sorted(solar_dict.values()))

['금성', '명왕성', '목성', '수성', '천왕성', '토성', '해왕성', '화성']
['jupiter', 'mars', 'mercury', 'neptune', 'pluto', 'satrun', 'uranus', 'venus']

### Dictionary Comprehension
* 리스트 컴프리헨션을 한 다음 딕셔너리로 감싸는 것은 비효율적
* 효율적인 방법이 딕셔너리 컴프리헨션

In [47]:
letter = 'apple'

# a:1, p:2, .. 형식으로 출력
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [48]:
#단어의 모음세기
vowels = 'aeiou'
word = 'onomatopoeia'

# word 순회
print({w: word.count(w) for w in set(word) if w in vowels})
# vowels 순회
print({v: word.count(v) for v in set(vowels) if v in word})

{'o': 4, 'i': 1, 'e': 1, 'a': 2}
{'o': 4, 'i': 1, 'e': 1, 'a': 2}

### `Dict Ex4 추가설명`
ex4를 딕셔너리 컴프리헨션으로

In [49]:
solar_dict = {key:value 
              for key, value in solar_dict.items() 
              if key.endswith('성')}

solar_dict

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'satrun',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

### sorting

In [56]:
# 키만 sort #딕셔너리는 오름차순, 내림차순이 없음. 그래서 리스트로 바뀌어 출력됨.
sorted(solar_dict)

['금성', '명왕성', '목성', '수성', '천왕성', '토성', '해왕성', '화성']

In [57]:
# 딕셔너리 형태로 정렬
sorted(solar_dict.items())

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'satrun'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

In [52]:
def fx(x):
    return x[1]  #0은 key 기준, 1은 value 기준

# 첫 번째는 한글기준, 두 번째는 영어 기준으로 정렬하고 싶을 때?
# 나만의 함수를 정의해서 key에 넣음
sorted(solar_dict.items(), key=fx)

[('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'satrun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [58]:
# 익명함수 lambda
# 함수에서 이름 짓는 부분과 예약어를 빼고 익명으로 함수를 구현함

sorted(solar_dict.items(), key=lambda x: x[0])

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'satrun'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

### Set
* 중복이 없다. = 딕셔너리 내에서 키만 가지고 있다.
* 집합 => 교집합, 합집합, 차집합, ...

In [97]:
empty = set()
empty

set()

In [98]:
a = {1, 2, 3}
a

{1, 2, 3}

In [100]:
a = set((1, 2, 3))
a

{1, 2, 3}

In [101]:
a.add(4)
a

{1, 2, 3, 4}

In [102]:
a.remove(4)
a

{1, 2, 3}

In [60]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russsian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'amnhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}

# 1. vodka가 포함된 술 출력하기
# 2. vodka는 있지만 cream, vermouth 없는 술 출력하기

In [61]:
# 1. 
for k,v in drinks.items():
    if 'vodka' in v:
        print(k)

martini
black russsian
white russian
screwdriver

In [62]:
# 2. 
for k,v in drinks.items():
    if 'vodka' in k and not ('cream' in v or 'vermouth' in v):
        print(v)

### 교집합, 합집합, 차집합

In [63]:
a = {1, 2, 3}
b = {2, 3, 4}

### 교집합 | intersection
a.intersection(b)
a & b

### 합집합 | union
a.union(b)
a | b

### 차집합 | difference
a.difference(b)
a - b, b - a #둘은 다른 연산

({1}, {4})

In [64]:
# vodka는 있지만 cream, vermouth 없는 술 출력 => set을 활용하여 바꾸기
for k, v in drinks.items():
    if ('vodka' in v) and not('cream' in v or 'vermouth' in v):
        print(k)

print()

for k, v in drinks.items():
    if 'vodka' in v and not (v & {'cream', 'vermouth'}):
        print(k)

black russsian
screwdriver

black russsian
screwdriver

In [65]:
# set comprehension
{s for s in range(5)}

{0, 1, 2, 3, 4}

In [66]:
# frozenset | 가변 객체를 불변 객체로 만들어 주는 것
set([1, 2])
frozenset([1, 2])

frozenset({1, 2})